{% trans_default_domain "systeminfo" %}

<!-- Tab name: {{ 'tab.name.composer'|trans|desc('Composer') }} -->

<section class="ez-fieldgroup">
    <h2 class="ez-fieldgroup__name">
        {% if info.packages is empty %}
            {{ 'packages.empty'|trans|desc('No packages installed.') }}
        {% else %}
            {{ 'composer'|trans|desc('Composer') }}
        {% endif %}
    </h2>
    <div class="ez-fieldgroup__content">
        <table class="table ez-table--list">
            <tbody>
            <tr class="ez-table__row">
                <td class="ez-table__cell">{{ 'composer.minimum_stability'|trans|desc('Minimum stability') }}</td>
                <td class="ez-table__cell">{{ info.minimumStability }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="ez-fieldgroup">
    <h2 class="ez-fieldgroup__name">{{ 'packages'|trans|desc('Packages') }}</h2>
    <div class="ez-fieldgroup__content">
        {% set body_rows = [] %}
        {% for package in info.packages %}
            {% set col_name %}
                {% if package.homepage is empty %}
                    {{ package.name }}
                {% else %}
                    <a href="{{ package.homepage }}" target="_blank">
                        {{ package.name }}
                    </a>
                {% endif %}
            {% endset %}

            {% set col_version %}
                {{ package.version }} {{ package.stability }}
                <span>({{ package.dateTime|ez_full_datetime }}
                    , {{ package.reference | slice(0, 5) }})
                </span>
            {% endset %}

            {% set body_rows = body_rows|merge([{ cols: [
                { content: col_name },
                { content: col_version },
            ] }]) %}
        {% endfor %}

        {% include '@ezdesign/ui/component/table/table.html.twig' with {
            headline: 'packages'|trans|desc('Packages'),
            head_cols: [
                { content: 'packages.name'|trans|desc('Name') },
                { content: 'packages.version'|trans|desc('Version') },
            ],
            body_rows: body_rows,
            empty_table_info_text: 'packages.empty'|trans|desc('No packages installed.'),
        } %}
    </div>
</section>
