{% trans_default_domain "systeminfo" %}

<!-- Tab name: {{ 'tab.name.hardware'|trans|desc('Hardware') }} -->

<section class="ibexa-fieldgroup">
    <h2 class="ibexa-fieldgroup__name">{{ 'hardware'|trans|desc('Hardware') }}</h2>
    <div class="ibexa-fieldgroup__content">
        <table class="table ibexa-table--list ibexa-table--to-left">
            <tbody>
            <tr class="ibexa-table__row">
                <td class="ibexa-table__cell">{{ 'cpu'|trans|desc('CPU') }}</td>
                <td class="ibexa-table__cell">
                    {{ info.cpuType }}
                    {% if info.cpuSpeed %}
                        ({{ info.cpuCount }}x{{ info.cpuSpeed }}&nbsp;{{ 'mhz'|trans|desc('mhz') }})
                    {% endif %}
                </td>
            </tr>
            <tr class="ibexa-table__row">
                <td class="ibexa-table__cell">{{ 'memory'|trans|desc('Memory') }}</td>
                <td class="ibexa-table__cell">{{ info.memorySize|ibexa_file_size( 1 ) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
