{% trans_default_domain "systeminfo" %}

<!-- Tab name: {{ 'tab.name.ibexa'|trans|desc('My Ibexa') }} -->

<section class="ez-fieldgroup">
    <h2 class="ez-fieldgroup__name">{{ 'ibexa.product'|trans|desc('Product') }}</h2>
    <div class="ez-fieldgroup__content">
        <table class="table ez-table ez-table--list ez-table--to-left">
            <tbody>
                <tr class="ez-table__row">
                    <td class="ez-table__cell">{{ 'ibexa.name'|trans|desc('Name') }}</td>
                    <td class="ez-table__cell">{{ info.name }}</td>
                </tr>
                <tr class="ez-table__row">
                    <td class="ez-table__cell">{{ 'ibexa.version'|trans|desc('Version') }}</td>
                    <td class="ez-table__cell">{{ info.release }}</td>
                </tr>
                <tr class="ez-table__row">
                    <td class="ez-table__cell">{{ 'ibexa.is_trial'|trans|desc('Is Trial') }}</td>
                    <td class="ez-table__cell">
                        <svg class="ez-icon ez-icon--small">
                            <use xlink:href="{{ ez_icon_path(info.isTrial ? 'checkmark' : 'discard') }}"></use>
                        </svg>
                    </td>
                </tr>
                <tr class="ez-table__row">
                    <td class="ez-table__cell">{{ 'ibexa.stability'|trans|desc('Stability') }}</td>
                    <td class="ez-table__cell">{{ info.stability }}</td>
                </tr>
                {% if info.isEnterprise %}
                    <tr class="ez-table__row">
                        <td class="ez-table__cell">{{ 'ibexa.eom'|trans|desc('End of Maintenance') }}*</td>
                        <td class="ez-table__cell">
                            {{ info.endOfMaintenanceDate is empty ? '' : info.endOfMaintenanceDate|date('F Y', false) }}
                        </td>
                    </tr>
                    <tr class="ez-table__row">
                        <td class="ez-table__cell">{{ 'ibexa.eol'|trans|desc('End of Life') }}*</td>
                        <td class="ez-table__cell">
                            {{ info.endOfLifeDate is empty ? '' : info.endOfLifeDate|date('F Y', false) }}
                        </td>
                    </tr>
                    <tr class="ez-table__row">
                        <td colspan="2">
                            <hr/>
                            * {{ 'ibexa.read_more'|trans|desc('You can read more about Service Life for Ibexa DXP with a business license at') }}
                            <a target="_blank" href="https://support.ibexa.co/Public/Service-Life">
                                https://support.ibexa.co/Public/Service-Life
                            </a>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</section>
