{% trans_default_domain "systeminfo" %}

<!-- Tab name: {{ 'tab.name.services'|trans|desc('Services') }} -->

<section class="ibexa-fieldgroup">
    <h2 class="ibexa-fieldgroup__name">{{ 'services'|trans|desc('Services') }}</h2>
    <div class="ibexa-fieldgroup__content">
        <table class="table ibexa-table--list">
            <tbody>
            <tr class="ibexa-table__row">
                <td class="ibexa-table__cell">
                    {{ 'services.search_engine'|trans|desc('Search engine') }}
                </td>
                <td class="ibexa-table__cell">{{ info.searchEngine }}</td>
            </tr>
            <tr class="ibexa-table__row">
                <td class="ibexa-table__cell">
                    {{ 'services.http_cache_proxy'|trans|desc('HTTP cache proxy') }}
                </td>
                <td class="ibexa-table__cell">{{ info.httpCacheProxy }}</td>
            </tr>
            <tr class="ibexa-table__row">
                <td class="ibexa-table__cell">
                    {{ 'services.persistence_cache_adapter'|trans|desc('Persistence cache adapter') }}
                </td>
                <td class="ibexa-table__cell">{{ info.persistenceCacheAdapter }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
